<div id="header">
  <div id="header__content">
    <div id="header__info">
      <h1><a href="{{ site.baseurl }}/about">{{ site.title }}</a></h1>
      <p>Undergraduated student<br/>
      School of Computer Science<br/>
      Fudan University<br/>
      email: wdli10 AT outlook DOT com</p>
      <img src="{{ site.baseurl }}/images/wanda.jpg" alt="opps! Wanda is shy">
    </div>

    <ul id="header__nav">
      <!--
        <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active__link{% else %}{% endif %}">Main</a>
      </li>
      <li><a href="{{ site.baseurl }}/archive" class="{% if page.url == '/archive/' %}active__link{% else %}{% endif %}">Archive</a></li>      
      -->
      <li><a href="{{ site.baseurl }}/about" class="{% if page.url == '/about/' %}active__link{% else %}{% endif %}">About</a></li>

    </ul>
  </div>
</div>
